@{
    Layout = "_Layout";
    ViewData["Title"] = "Welcome to my PhotoAlbum";
}

<section class="max-w-screen-xl mx-auto">
    <!-- Jumbotron -->
    <div class="hero pt-10">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <img src="/img/jumbo.jpg" class="w-3/6 " />
            <div>
                <h1 class="text-5xl md:text-6xl lg:text-6xl font-bold">Capture Stunning Moments with Our Photography!</h1>
                <p class="py-6 mx-auto max-w-4/5 text-lg">From timeless portraits to breathtaking landscapes, we offer a wide range of photography services to capture those unforgettable moments. Whether you're looking for professional portraits or stunning nature shots, our skilled photographers use state-of-the-art equipment to ensure your images are of the highest quality. So why wait? Book a session now and embark on a visual adventure from the comfort of your own surroundings.</p>
                <button class="btn btn-primary rounded-full">
                    <a asp-controller="Photo" asp-action="Index">View Photos</a>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="max-w-screen-xl mx-auto">
    <div class="container mx-auto px-6 pt-10">
        <div class="mt-6 md:flex md:items-center md:justify-between">
            <div>
                <h1 class="text-3xl font-bold capitalize lg:text-4xl">What our clients are saying</h1>

                <div class="mx-auto mt-6 flex">
                    <span class="inline-block h-1 w-40 rounded-full bg-black"></span>
                    <span class="mx-1 inline-block h-1 w-3 rounded-full bg-black"></span>
                    <span class="inline-block h-1 w-1 rounded-full bg-black"></span>
                </div>
            </div>
        </div>
        <!--Reviews-->
        <section class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 xl:mt-12 xl:grid-cols-3">
            <div class="rounded-lg border p-8 dark:border-gray-700">
                <p class="leading-loose">“I'm a photography enthusiast and I have to say, the photos taken by these photographers are some of the best I've ever seen! The compositions are captivating, and the colors are always vibrant and eye-catching. Just amazing! For sure will book again and again, highly recommend to everyone to try!”.</p>

                <div class="-mx-2 mt-8 flex items-center">
                    <img class="mx-2 h-14 w-14 shrink-0 rounded-full object-cover ring-4 ring-gray-300 dark:ring-gray-700" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="" />

                    <div class="mx-2">
                        <h1 class="font-semibold">Tom</h1>
                        <span class="text-sm ">Photography Enthusiast</span>
                    </div>
                </div>
            </div>

            <div class="rounded-lg border border-transparent text-white bg-black p-8">
                <p class="leading-loose">“As a busy mom, I don't always have time to take professional photos of my family. That's why I love PhotoDex! Their online booking is quick and easy, and the photographers always arrive on time and ready to capture precious moments. Plus, with a wide variety of photography styles to choose from, there's something for everyone in the family.”.</p>

                <div class="-mx-2 mt-8 flex items-center">
                    <img class="mx-2 h-14 w-14 shrink-0 rounded-full object-cover ring-4 ring-blue-200" src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="" />

                    <div class="mx-2">
                        <h1 class="font-semibold text-white">Emily</h1>
                        <span class="text-sm text-white">Busy Mom</span>
                    </div>
                </div>
            </div>

            <div class="rounded-lg border p-8 dark:border-gray-700">
                <p class="leading-loose">“I recently booked a photography session with PhotoDex for a family gathering, and everyone loved the photos! The photographers were professional and friendly, and they captured beautiful moments that will be cherished forever. The quality of the images was outstanding, and you could really feel the emotions. I'll definitely be booking from here again!”.</p>

                <div class="-mx-2 mt-8 flex items-center">
                    <img class="mx-2 h-14 w-14 shrink-0 rounded-full object-cover ring-4 ring-gray-300 dark:ring-gray-700" src="https://images.unsplash.com/photo-1488508872907-592763824245?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" />

                    <div class="mx-2">
                        <h1 class="font-semibold">Ema</h1>
                        <span class="text-sm"> Photography Lover</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<!--FAQ-->
<section class="max-w-screen-xl mx-auto">
    <div class="container mx-auto px-6 py-28">
        <h1 class="text-2xl font-semibold lg:text-4xl">Frequently asked questions.</h1>

        <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:mt-16 xl:grid-cols-3">
            <div>
                <div class="inline-block rounded-lg bg-black p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold">What payment methods do you accept for photography bookings?</h1>

                    <p class="mt-2 text-sm ">We accept all major credit cards, including Visa, Mastercard, American Express, and Discover. We also accept payment through PayPal and Apple Pay for photography bookings.</p>
                </div>
            </div>

            <div>
                <div class="inline-block rounded-lg bg-black p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold "> Can I customize the style and settings for my photography session?</h1>

                    <p class="mt-2 text-sm ">Yes, absolutely! Our photographers are flexible and can adapt to your preferred style and settings for the photography session. Simply discuss your preferences with the photographer beforehand.</p>
                </div>
            </div>

            <div>
                <div class="inline-block rounded-lg bg-black p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold ">Do you offer different packages for photography sessions, such as family portraits or event coverage?</h1>

                    <p class="mt-2 text-sm ">Yes, we offer various photography packages tailored to different needs. Whether you're looking for family portraits, event coverage, or other types of photography, we have packages that can accommodate your requirements.</p>
                </div>
            </div>

            <div>
                <div class="inline-block rounded-lg bg-black p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold ">Do you offer outdoor or studio photography sessions?</h1>

                    <p class="mt-2 text-sm ">Yes, we offer both outdoor and studio photography sessions. You can choose the setting that best suits your vision and preferences for the photoshoot.</p>
                </div>
            </div>

            <div>
                <div class="inline-block rounded-lg bg-black p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold ">What is the duration of a typical photography session?</h1>

                    <p class="mt-2 text-sm ">The duration of a photography session can vary depending on the type of shoot and your specific requirements. Typically, a session can range from one hour to several hours, allowing ample time for capturing the desired shots.</p>
                </div>
            </div>

            <div>
                <div class="inline-block rounded-lg bg-black p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold">Do you offer any promotions or discounts for photography bookings?</h1>

                    <p class="mt-2 text-sm">Yes, we frequently offer promotions and discounts for photography bookings! Keep an eye on our website and social media pages for the latest deals and special offers.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Contact-->
<section class="max-w-screen-xl mx-auto">
    @Html.Partial("_ContactForm")
</section>


