@{
    Layout = "_Layout";
    ViewData["Title"] = "Welcome to my PhotoAlbum";
}

<section class="max-w-screen-xl mx-auto">
    <!-- Jumbotron -->
    <div class="hero pt-10">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <img src="/img/pizza-box.png" class="max-w-full h-auto" />
            <div>
                <h1 class="text-5xl md:text-6xl lg:text-7xl font-bold">Satisfy Your Cravings with Our Delicious Food!</h1>
                <p class="py-6 mx-auto max-w-4/5 text-lg">From classic dishes to gourmet creations, we have a wide range of mouth-watering options to satisfy your cravings. Whether you're in the mood for something spicy or sweet, our expert chefs use only the finest ingredients to create pizzas that are sure to delight your taste buds. So why wait? Order now and experience a culinary adventure from the comfort of your own home.</p>
                <button class="btn btn-primary rounded-full">
                    <a asp-controller="Photo" asp-action="Index">View Photos</a>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="max-w-screen-xl mx-auto">
    <div class="container mx-auto px-6 pt-10">
        <div class="mt-6 md:flex md:items-center md:justify-between">
            <div>
                <h1 class="text-3xl font-bold capitalize lg:text-4xl">What our clients are saying</h1>

                <div class="mx-auto mt-6 flex">
                    <span class="inline-block h-1 w-40 rounded-full bg-black"></span>
                    <span class="mx-1 inline-block h-1 w-3 rounded-full bg-black"></span>
                    <span class="inline-block h-1 w-1 rounded-full bg-black"></span>
                </div>
            </div>
        </div>
        <!--Reviews-->
        <section class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 xl:mt-12 xl:grid-cols-3">
            <div class="rounded-lg border p-8 dark:border-gray-700">
                <p class="leading-loose">“I'm a pizza enthusiast and I have to say, the pizzas here are some of the best I've ever had! The crust is crispy on the outside and chewy on the inside, and the toppings are always fresh and flavorful. Just the best! For sure will order again and again, highly recommend to everyone to try!”.</p>

                <div class="-mx-2 mt-8 flex items-center">
                    <img class="mx-2 h-14 w-14 shrink-0 rounded-full object-cover ring-4 ring-gray-300 dark:ring-gray-700" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="" />

                    <div class="mx-2">
                        <h1 class="font-semibold">Tom</h1>
                        <span class="text-sm ">Pizza Enthusiast</span>
                    </div>
                </div>
            </div>

            <div class="rounded-lg border border-transparent text-white bg-black p-8">
                <p class="leading-loose">“As a busy mom, I don't always have time to cook dinner from scratch. That's why I love PizzaDex! Their online ordering is quick and easy, and the pizzas always arrive hot and fresh. Plus, with a wide variety of toppings to choose from, there's something for everyone in the family.”.</p>

                <div class="-mx-2 mt-8 flex items-center">
                    <img class="mx-2 h-14 w-14 shrink-0 rounded-full object-cover ring-4 ring-blue-200" src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="" />

                    <div class="mx-2">
                        <h1 class="font-semibold text-white">Emily</h1>
                        <span class="text-sm text-white">Busy Mom</span>
                    </div>
                </div>
            </div>

            <div class="rounded-lg border p-8 dark:border-gray-700">
                <p class="leading-loose">“I recently ordered from PizzaDex for a family get-together, and everyone loved the pizzas! The delivery was on time and the pizzas were still warm when they arrived. The quality of the ingredients was top-notch, and you could really taste the difference. I'll definitely be ordering from here again!”.</p>

                <div class="-mx-2 mt-8 flex items-center">
                    <img class="mx-2 h-14 w-14 shrink-0 rounded-full object-cover ring-4 ring-gray-300 dark:ring-gray-700" src="https://images.unsplash.com/photo-1488508872907-592763824245?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" />

                    <div class="mx-2">
                        <h1 class="font-semibold">Ema</h1>
                        <span class="text-sm"> Pizza Lover</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<!--FAQ-->
<section class="max-w-screen-xl mx-auto">
    <div class="container mx-auto px-6 py-28">
        <h1 class="text-2xl font-semibold lg:text-4xl">Frequently asked questions.</h1>

        <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:mt-16 xl:grid-cols-3">
            <div>
                <div class="inline-block rounded-lg bg-black p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold">What payment methods do you accept for online orders?</h1>

                    <p class="mt-2 text-sm ">We accept all major credit cards, including Visa, Mastercard, American Express, and Discover. We also accept payment through PayPal and Apple Pay.</p>
                </div>
            </div>

            <div>
                <div class="inline-block rounded-lg bg-black p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold "> Can I customize the toppings on my pizza when ordering online?</h1>

                    <p class="mt-2 text-sm ">Yes, absolutely! Our online ordering system allows you to fully customize your pizza with your choice of toppings. Simply select the pizza you want and then choose your desired toppings.</p>
                </div>
            </div>

            <div>
                <div class="inline-block rounded-lg bg-black p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold ">Do you offer gluten-free and no lactose pizza options?</h1>

                    <p class="mt-2 text-sm ">Yes, we offer gluten-free pizza options! Just look for the gluten-free icon next to the pizza you want to order, and be sure to specify any additional dietary restrictions when placing your order.</p>
                </div>
            </div>

            <div>
                <div class="inline-block rounded-lg bg-black p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold ">What is your delivery radius? Do you have a map I can check?</h1>

                    <p class="mt-2 text-sm ">Our delivery radius varies depending on your location. To see if we deliver to your area, simply enter your address in our online ordering system and check the delivery options.</p>
                </div>
            </div>

            <div>
                <div class="inline-block rounded-lg bg-black p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold ">How long does it take for my pizza to be delivered?</h1>

                    <p class="mt-2 text-sm ">Delivery times vary depending on your location and the time of day. Generally, our pizzas are delivered within 30-45 minutes of placing your order. During peak hours, delivery times may be longer.</p>
                </div>
            </div>

            <div>
                <div class="inline-block rounded-lg bg-black p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold">Do you offer any promotions or discounts for online orders?</h1>

                    <p class="mt-2 text-sm">Yes, we frequently offer promotions and discounts for online orders! Be sure to check our website and social media pages for the latest deals and coupon codes.</p>
                </div>
            </div>
        </div>
    </div>
</section>