<!DOCTYPE html>
<html data-theme="lofi" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Photo Album</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/toastify.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon.ico">

</head>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<body>
    <header class="bg-white top-0 left-0 w-full shadow-sm">
        <nav class="flex items-center max-w-screen-xl mx-auto px-6 py-3">
            <div class="flex items-center justify-start space-x-6">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img class="w-28 md:w-28 cursor-pointer" src="/img/Logo.png" alt="Logo">
                </a>
            </div>
            <div class="flex flex-grow items-center justify-end space-x-6">
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Create", "Photo")" class="btn rounded btn-primary py-1 px-2 mt-2 text-sm md:text-base mb-3">Add New Photo</a>
                }
                <div class="dropdown dropdown-end">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                            <div class="w-12 h-12 md:w-12 md:h-12 rounded-full">
                                <img class="mask mask-hexagon-2" src="/img/avatar.png" />
                            </div>
                        </label>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    @Html.Partial("_AdminNav")

    <main role="main">
        <div class="flex flex-col min-h-screen">
            <div class="flex-grow">
                @RenderBody()
            </div>
        </div>
    </main>


    <footer class="footer footer-center p-4 text-base-content">
        <div>
            <p>Copyright © 2023 - All right reserved by Igor Slivca LLC</p>
        </div>
    </footer>


    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/site.js"></script>
    <script src="/js/display.js"></script>
    <script src="/js/details.js"></script>
    <script src="/js/toastify.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
