<div class="relative max-w-screen-xl mx-auto mt-10 pt-10 sm:pt-0 mb-10">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 items-center md:gap-20 ">
        <div class="content">
            <div class="flex items-center gap-3">
                <hr class="w-10 bg-orange-500 border " />
                <span class="md:text-[18px] font-medium text-gray-800 ">
                    Photography
                </span>
            </div>
            <p id="title" class="text-[40px] lg:text-[45px] xl:text-[55px] font-bold leading-tight mt-5 sm:mt-0 ">
            </p>
            <p id="description" class="mt-5 md:text-md ">
            </p>
            <div class="flex gap-4 mt-10">

                <button class="font-medium text-[16px] flex items-center px-5 py-3 md:py-4 md:px-8 rounded-xl capitalize bg-gradient-to-r from-orange-300 to-orange-500 hover:from-pink-500 hover:to-yellow-500  relative gap-2 transition duration-300 hover:scale-105 text-white shadow-glass ">
                    Get In Touch
                    <span class="animate-ping absolute right-0 top-0 w-3 h-3  rounded-full bg-gradient-to-r from-orange -400 to-orange-700 "></span>
                </button>
                <RiFacebookFill class="" />
                <SiBehance />
            </div>

        </div>
        <div class="relative sm:mt-0 mt-10 px-6 sm:px-0">

            <img id="photo-image" class="max-w-full relative h-auto z-10" alt="">
        </div>
    </div>
</div>